# allow dependencies with conflicting peer dependencies.
strict-peer-dependencies=false
# allows hoisting packages to the workspace root.
# This can improve performance.
shamefully-hoist=true
# running Yarn commands outside of workspaces.
ignore-workspace-root-check=true
# allows running Yarn commands in an environment
# that's similar to npm.
shell-emulator=true
# that ensures that all workspaces use the
# same package manager.
package-manager-strict=false
